/* HUD */

#hud {
  position: fixed;
  left: 16px;
  bottom: 24px;

  width: calc(100vw - 32px);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  color: #000;
}

#title {
  width: 100%;

  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 24px;
  text-align: left;

  transform: scale(1, 1.5);
}