:root {
  --d-linework-1: ;
}

body {
  margin: 0 auto;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 50px;
}


#linework-path {
  d: var(--d-linework-1);
}