/* ToggleableTextField */



.component.textfield.toggleable {
  overflow: hidden;
  
  transition: var(--transition-medium);
}

.component.textfield.toggleable.border-bottom:last-of-type {
  border-bottom: var(--border-divider);
}

.component.textfield.toggleable.collapsed {
  row-gap: 0;
}



/* Switch */

.component.textfield.toggleable.disabled .component.switch.contained .slider {
  background-color: var(--color-disabled);
}



/* Primary content */

.component.textfield.toggleable .primary-content {
  transition: var(--transition-medium);
}



/* Input */

.component.textfield.toggleable .primary-content input {
  transition: var(--transition-medium);
}

.component.textfield.toggleable.collapsed .primary-content input {
  height: 0;
  opacity: 0;
}



/* Suffix label */

.component.textfield.toggleable.collapsed  .suffix-label {
  transition: var(--transition-fast);

  font-size: 0.5rem;
  opacity: 0;
}