/* Control list */

.component.control-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--default-row-gap);

  padding: var(--default-padding);
}


/* List */

.component.control-list .list {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: calc(var(--default-row-gap) / 2);
}


/* Selection indication */

.component.control-list .selection-indication {
  width: 100%;
  position: absolute;
  top: 0;
  
  padding: var(--default-padding);
  border-radius: var(--border-radius-medium);

  transition: var(--transition-fast);
}


.component.control-list.contained.primary .selection-indication {
  background-color: var(--color-primary);
}

.component.control-list.contained.secondary .selection-indication {
  background-color: var(--color-secondary);
}

.component.control-list.contained.tertiary .selection-indication {
  background-color: var(--color-tertiary);
}

.component.control-list.outlined.primary .selection-indication {
  border-width: var(--border-outlined-thickness);
  border-style: solid;
  border-color: var(--color-primary);
}

.component.control-list.outlined.secondary .selection-indication {
  border-width: var(--border-outlined-thickness);
  border-style: solid;
  border-color: var(--color-secondary);
}

.component.control-list.outlined.tertiary .selection-indication {
  border-width: var(--border-outlined-thickness);
  border-style: solid;
  border-color: var(--color-tertiary);
}


.component.control-list.small .selection-indication {
  font-size: var(--typography-body2-size);
}

.component.control-list.medium .selection-indication {
  font-size: var(--typography-h2-size);
}

.component.control-list.large .selection-indication {
  font-size: var(--typography-h3-size);
}